/* Estilos básicos para la página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding: 20px;
  text-align: center;
  height: auto;
}

.container {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

p {
  color: #555;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0);
  resize: none;
  font-size: 16px;
}

.grid{
  display: grid;
  grid-template-columns: auto 40% auto 40% auto;
}

audio {
  margin-top: 20px;
  width: 300px;
  height: 30px;
  outline: none;
}

button {
  background-color: #BBEAF7;
  color: #475E78;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

button:hover {
  background-color: #B0BBF7;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.botones{
  display: grid;
  grid-template-columns: auto 40% auto 40% auto;
}
