<body>
<div class="container">
  <h2>Tabla de Usuarios</h2>
  <table>
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Email</th>
      <th>País</th>
      <th>Contraseña</th>
    </tr>
    </thead>
    <tbody> <!-- Aqui vienen nuestros usuarios de la base de datos -->
    <tr>
      <td>Jaime</td>
      <td>González</td>
      <td>jaimito.gonzalez&#64;gmail.com</td>
      <td>China</td>
      <td>loponor</td>
    </tr>
    <tr>
      <td>Sofía</td>
      <td>Martínez</td>
      <td>sofia.martinez&#64;yahoo.com</td>
      <td>Mexico</td>
      <td>guadalajara</td>
    </tr>
    <tr>
      <td>Carlos</td>
      <td>Ramírez</td>
      <td>c.ramirez&#64;outlook.com</td>
      <td>Argentina</td>
      <td>patagonia</td>
    </tr>
    <tr>
      <td>Ana</td>
      <td>López</td>
      <td>ana.lopez123&#64;hotmail.com</td>
      <td>Spain</td>
      <td>barcelona</td>
    </tr>
    <tr>
      <td>Lucas</td>
      <td>Hernández</td>
      <td>lucas.hdz&#64;gmail.com</td>
      <td>Brazil</td>
      <td>copacabana</td>
    </tr>
    <tr>
      <td>Valeria</td>
      <td>Rodríguez</td>
      <td>v.rodriguez&#64;icloud.com</td>
      <td>Colombia</td>
      <td>cartagena</td>
    </tr>
    <tr>
      <td>Mario</td>
      <td>Fernández</td>
      <td>m.fernandez&#64;gmail.com</td>
      <td>Chile</td>
      <td>santiago</td>
    </tr>
    <tr>
      <td>Elena</td>
      <td>Méndez</td>
      <td>elena.mendez&#64;yahoo.com</td>
      <td>Peru</td>
      <td>cusco</td>
    </tr>
    <tr>
      <td>Fernando</td>
      <td>García</td>
      <td>f.garcia&#64;hotmail.com</td>
      <td>Venezuela</td>
      <td>caracas</td>
    </tr>
    <tr>
      <td>Lucía</td>
      <td>Suárez</td>
      <td>lucia.suarez&#64;outlook.com</td>
      <td>Uruguay</td>
      <td>montevideo</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
