<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="footer.component.css">
</head>
<body>

<footer class="footer">
    <div class="footer-content">
      <div class="column">
        <h4 class="footer-title">Nosotros</h4>
        <ul>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Política de privacidad</a></li>
          <li><a href="#">Regístrate</a></li>
        </ul>
      </div>
      <div class="column">
        <h4 class="footer-title">Ayuda</h4>
        <ul>
          <li><a href="#">Preguntas frecuentes</a></li>
          <li><a href="#">Tutorial de uso</a></li>
        </ul>
      </div>
      <div class="column">
        <h4 class="footer-title">Síguenos</h4>
        <div class="social-buttons">
          <a href="#" class="social-button"><img src="/front/src/assets/img/instagram.jpeg" alt="Instagram"></a>
          <a href="#" class="social-button"><img src="/front/src/assets/img/T.png" alt="Twitter"></a>
          <a href="#" class="social-button"><img src="/front/src/assets/img/Facebook.png" alt="Facebook"></a>
          <a href="#" class="social-button"><img src="/front/src/assets/img/Yt.png" alt="YouTube"></a>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
  
