<body>
<div class="container">
  <div class="principal">
    <!-- Reading -->
    <div class="seccion">
      <a></a>
      <h3>Reading</h3>
      <div class="dropdown">
        <button class="dropbtn">Sección</button>
        <div class="dropdown-content">
          <a routerLink="/reading1" routerLinkActive="active"> Parte 1 </a>
          <a routerLink="/reading2" routerLinkActive="inactive"> Parte 2 </a>
          <a routerLink="/reading3" routerLinkActive="inactive"> Parte 3 </a>
          <a routerLink="/reading4" routerLinkActive="inactive"> Parte 4 </a>
          <a routerLink="/reading5" routerLinkActive="active"> Parte 5 </a>
          <a routerLink="/reading6" routerLinkActive="inactive"> Parte 6 </a>
          <a routerLink="/reading7" routerLinkActive="inactive"> Parte 7 </a>
        </div>
      </div>
    </div>

    <!-- Writing -->
    <div class="seccion">
      <a></a>
      <h3>Writing</h3>
      <div class="dropdown">
        <button class="dropbtn">Sección</button>
        <div class="dropdown-content">
          <a routerLink="/writing1" routerLinkActive="active"> Parte 1</a>
          <a routerLink="/writing2" routerLinkActive="inactive"> Parte 2</a>
        </div>
      </div>
    </div>

    <!-- Listening -->
    <div class="seccion">
      <a></a>
      <h3>Listening</h3>
      <div class="dropdown">
        <button class="dropbtn">Sección</button>
        <div class="dropdown-content">
          <a routerLink="/listening" routerLinkActive="active"> Parte 1</a>
          <a routerLink="/listening2" routerLinkActive="inactive"> Parte 2</a>
          <a routerLink="/listening3" routerLinkActive="inactive"> Parte 3</a>
          <a routerLink="/listening4" routerLinkActive="inactive"> Parte 4</a>
        </div>
      </div>
    </div>

    <!-- Speaking -->
    <div class="seccion">
      <a></a>
      <h3>Speaking</h3>
      <div class="dropdown">
        <button class="dropbtn">Sección</button>
        <div class="dropdown-content">
          <a routerLink="/speaking1" routerLinkActive="active"> Parte 1</a>
          <a routerLink="/speaking2" routerLinkActive="inactive"> Parte 2</a>
          <a routerLink="/speaking3" routerLinkActive="inactive"> Parte 3</a>
          <a routerLink="/speaking4" routerLinkActive="inactive"> Parte 4</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
