<header class="header">
  <div class="container">
    <div class="btn-menu">
      <label for="btn-menu">☰</label>
    </div>
    <div class="logo">
      <h1>Logotipo</h1>
    </div>
  </div>
</header>
<div class="capa"></div>
<input type="checkbox" id="btn-menu">
<div class="container-menu">
  <div class="cont-menu">
    <nav>
      <a href="#"><i class="fas fa-home"></i> Inicio </a>
      <div class="dropdown">
        <a class="dropdown-btn"><i class="fas fa-book"></i> Reading <i class="fas fa-caret-down"></i></a>
        <div class="dropdown-content">
          <ul class="dropdown-content">
            <li><a routerLink="/reading1" routerLinkActive="active"><i class="fas fa-eye"></i> Parte 1 </a></li>
            <li><a routerLink="/reading2" routerLinkActive="inactive"><i class="fas fa-eye"></i> Parte 2 </a></li>
            <li><a routerLink="/reading3" routerLinkActive="inactive"><i class="fas fa-eye"></i> Parte 3 </a></li>
            <li><a routerLink="/reading4" routerLinkActive="inactive"><i class="fas fa-eye"></i> Parte 4 </a></li>
            <li><a routerLink="/reading5" routerLinkActive="active"><i class="fas fa-eye"></i> Parte 5 </a></li>
            <li><a routerLink="/reading6" routerLinkActive="inactive"><i class="fas fa-eye"></i> Parte 6 </a></li>
            <li><a routerLink="/reading7" routerLinkActive="inactive"><i class="fas fa-eye"></i> Parte 7 </a></li>
          </ul>
        </div>
      </div>
      <div class="dropdown">
        <a><i class="fas fa-pencil-square"></i> Writing <i class="fas fa-caret-down"></i></a>
        <div class="dropdown-content">
          <a routerLink="/writing1" routerLinkActive="active"><i class="fas fa-pencil"></i> Parte 1</a>
          <a routerLink="/writing2" routerLinkActive="inactive"><i class="fas fa-pencil"></i> Parte 2</a>
        </div>
      </div>
      <div class="dropdown">
        <a><i class="fas fa-headphones"></i> Listening <i class="fas fa-caret-down"></i></a>
        <div class="dropdown-content">
          <a routerLink="/listening1" routerLinkActive="inactive"><i class="fas fa-dot-circle"></i> Parte 1</a>
          <a routerLink="/listening2" routerLinkActive="inactive"><i class="fas fa-dot-circle"></i> Parte 2</a>
          <a routerLink="/listening3" routerLinkActive="inactive"><i class="fas fa-dot-circle"></i> Parte 3</a>
          <a routerLink="/listening4" routerLinkActive="inactive"><i class="fas fa-dot-circle"></i> Parte 4</a>
        </div>
      </div>
      <div class="dropdown">
        <a><i class="fas fa-volume-up"></i> Speaking <i class="fas fa-caret-down"></i></a>
        <div class="dropdown-content">
          <a routerLink="/speaking1" routerLinkActive="active"><i class="fas fa-microphone"></i> Parte 1</a>
          <a routerLink="/speaking2" routerLinkActive="inactive"><i class="fas fa-microphone"></i> Parte 2</a>
          <a routerLink="/speaking3" routerLinkActive="inactive"><i class="fas fa-microphone"></i> Parte 3</a>
          <a routerLink="/speaking4" routerLinkActive="inactive"><i class="fas fa-microphone"></i> Parte 4</a>
        </div>
      </div>
      <a href="#"><i class="fas fa-users"></i> Nosotros</a>
    </nav>
    <label for="btn-menu">✖️</label>
  </div>
</div>
