.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 2px solid #ccc;
  }
  
  .header-left, .header-right {
    flex: 1;
  }
  
  .logo {
    max-width: 100%;
    height: auto;
    max-height: 80px; /* Ajusta este valor según el tamaño deseado */
  }
  
  .header-center {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    font-size: 2rem;
    font-family: 'Arial', sans-serif;
    padding: 10px;
    border: 2px solid #000;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
  }
  
