<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="header.component.css">
</head>
<body>
    

<header class="header-container">
    <div class="header-left">
      <img src="/src/assets/img/Upsa.png" alt="Universidad Pontificia de Salamanca" class="logo" />
    </div>
    <div class="header-center">
      <h1 class="title">ExamPro</h1>
    </div>
    <div class="header-right">
      <img src="/src/assets/img/profuturo.png" alt="ProFuturo" class="logo" />
    </div>
  </header>
  

</body>
</html>

