<br>
<div class="container">
  <h1>Writing</h1>
  <textarea id="outputText" [value]="outputText" placeholder="Pulse el botón para generar su temática de writing" rows="5" readonly></textarea>
  <div class="grid">
    <button id="copyButton">Copiar texto</button>
    <button id="generateButton" (click)="generateNewText()">Generar nuevo texto</button>
  </div>
  <br>
  <p [ngStyle]="{'color': (wordCount >= wordLimit && wordCount < maxWords) ? 'green' : (wordCount >= maxWords ? 'orange' : 'red')}">
    {{ wordCounterText }}
  </p>
  <form (submit)="onSubmit($event)">
    <textarea
      (input)="onInputChange($event)"
      placeholder="Escriba aquí su writing"
      rows="15">
    </textarea>
    <input type="submit" value="Enviar writing" (click)="openDialog()" class="submit">
  </form>
</div>
<br>
