<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Writing 1</title>
  <link rel="stylesheet" href="/css/Writing.css">
</head>
<body>
<div class="container">
  <h1>Writing</h1>
  <textarea id="outputText" placeholder="Pulse el botón para generar su temática de writing" rows="5" readonly></textarea>
  <div class="grid">
    <button id="copyButton">Copiar texto</button>
    <button id="generateButton">Generar nuevo texto</button>
  </div>
  <br>
  <p id="wordCounter">Palabras: 0/170</p>
  <form>
    <textarea id="writingText" placeholder="Escriba aquí su writing" rows="15"></textarea>
    <input type="submit" value="Enviar writing" class="submit">
  </form>
</div>

<script>

  function countWords(text) {
    return text.trim().split(/\s+/).filter(function(word) {
      return word.length > 0;
    }).length;
  }

  const writingText = document.getElementById('writingText');
  const wordCounter = document.getElementById('wordCounter');
  const wordLimit = 170;
  const maxWords = 190;
  let hasShownAlert = false;

  writingText.addEventListener('input', function() {
    const wordCount = countWords(writingText.value);
    wordCounter.textContent = `Palabras: ${wordCount}/${wordLimit}`;


    if (wordCount >= wordLimit && wordCount < maxWords) {
      wordCounter.style.color = 'green';
      hasShownAlert = false;
    } else if (wordCount >= maxWords && !hasShownAlert) {
      wordCounter.style.color = 'orange';
      alert('¡Estas escribiendo demasiado, reduce tu writing!');
      hasShownAlert = true;
    } else {
      wordCounter.style.color = 'red';
      hasShownAlert = false;
    }
  });
</script>
</body>
</html>
