<body>
<div class="principal">
  <!--Reading-->
  <div class="seccion">
    <h3>Reading</h3>

    <div class="dropdown">
      <button class="dropbtn">Sección</button>
      <div class="dropdown-content" style="left:0;">
        <a href="#">Parte 1</a>
        <a href="#">Parte 2</a>
        <a href="#">Parte 3</a>
        <a href="#">Parte 4</a>
        <a href="#">Parte 5</a>
        <a href="#">Parte 6</a>
        <a href="#">Parte 7</a>
      </div>
    </div>
  </div>
  <!--Writing-->
  <div class="seccion">
    <h3>Writing</h3>
    <div class="dropdown">
      <button class="dropbtn">Sección</button>
      <div class="dropdown-content" style="left:0;">
        <a href="#">Parte 1</a>
        <a href="#">Parte 2</a>
      </div>
    </div>
  </div>
  <!--Listening-->
  <div class="seccion">
    <h3>Listening</h3>
    <div class="dropdown">
      <button class="dropbtn">Sección</button>
      <div class="dropdown-content" style="left:0;">
        <a href="#">Parte 1</a>
        <a href="#">Parte 2</a>
        <a href="#">Parte 3</a>
        <a href="#">Parte 4</a>
      </div>
    </div>
  </div>
  <!--Speaking-->
  <div class="seccion">
    <h3>Speaking</h3>
    <div class="dropdown">
      <button class="dropbtn">Sección</button>
      <div class="dropdown-content" style="left:0;">
        <a href="#">Parte 1</a>
        <a href="#">Parte 2</a>
        <a href="#">Parte 3</a>
        <a href="#">Parte 4</a>
      </div>
    </div>
  </div>
</div>
</body>
