<body>
<div class="encabezado">
  <form action="/*" class="perfil">
    <button class="perfil"></button>
  </form>
  <div class="titulo">
    <h1 class="titulo">Exam Pro</h1>
  </div>
  <form action="/*" class="ajustes">
    <button class="ajustes"></button>
  </form>
</div>
<hr>
<div class="principal">
  <div class="seccion">
    <div class="en_categoría">
      <h2>Use of English</h2>
      <form class="copia">
        <img src="/images/copia.png" class="copia">
      </form>
      <form class="mas">
        <img src="/images/mas.png" class="mas">
      </form>
    </div>
    <textarea name="useOfEnglish" rows="10" cols="100" readonly="true">Use of English</textarea>
  </div>
  <div>
    <div class="en_categoría">
      <h2>Reading</h2>
      <form class="copia">
        <img src="/images/copia.png" class="copia">
      </form>
      <form class="mas">
        <img src="/images/mas.png" class="mas">
      </form>
    </div>
    <textarea name="reading" rows="10" cols="100" readonly="true">Reading</textarea>
  </div>
  <div>
    <div class="en_categoría">
      <h2>Writing</h2>
      <form class="copia">
        <img src="/images/copia.png" class="copia">
      </form>
      <form class="mas">
        <img src="/images/mas.png" class="mas">
      </form>
    </div>
    <textarea name="writing" rows="10" cols="100" readonly="true">Writing</textarea>
  </div>
  <div>
    <div class="en_categoría">
      <h2>Speaking</h2>
      <form class="copia">
        <img src="/images/copia.png" class="copia">
      </form>
      <form class="mas">
        <img src="/images/mas.png" class="mas">
      </form>
    </div>
    <textarea name="speaking" rows="10" cols="100" readonly="true">Speaking</textarea>
  </div>
</div>
</body>
