<div class="container">
  <h1>Reading</h1>
  <textarea id="inputText" placeholder="Pulse el botón para generar su reading" rows="10" readonly></textarea>
  <div class="grid">
    <button id="copyButton">Copiar texto</button>
    <button id="generateButton">Generar nuevo texto</button>
  </div>

  <form (ngSubmit)="submitResponses()">
    <div class="opciones" *ngFor="let opcion of ['A', 'B', 'C', 'D', 'E', 'F']">
      <div>
        <h3>Opción {{opcion}}</h3>
        <textarea id="inputText" placeholder="Pulse el botón para generar su reading" rows="2" cols="1"></textarea>
        <div class="radio">
          <input type="radio" id="text1_{{opcion}}" name="opcion{{opcion}}" value="A" [(ngModel)]="selectedOptions['opcion' + opcion]">
          <label for="text1_{{opcion}}">Texto 1</label>
          <input type="radio" id="text2_{{opcion}}" name="opcion{{opcion}}" value="B" [(ngModel)]="selectedOptions['opcion' + opcion]">
          <label for="text2_{{opcion}}">Texto 2</label>
          <input type="radio" id="text3_{{opcion}}" name="opcion{{opcion}}" value="C" [(ngModel)]="selectedOptions['opcion' + opcion]">
          <label for="text3_{{opcion}}">Texto 3</label>
        </div>
      </div>
      <br>
    </div>

    <button type="submit" [disabled]="isSubmitDisabled()" class="submit">Enviar respuestas</button>
  </form>
</div>

<br>
