body.fondo{
  background-image: url("/images/fondo1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

div.txt{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 30px;
  text-shadow: rgba(130, 130, 130, 0.800) 2px 5px;
  color: #0D1E33;
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
}

img.profuturo{
  float: right
}

div.seccion{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

div.formulario{
  background-color: #6e5c3cab;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid #FBC46F;
}

form.seccion{
  display: grid;
  grid-template-columns: auto auto 0px;
  text-align: center;
  font-family: Optima, sans-serif;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

label{
  padding: .4em
}

input.input {
  appearance: none;
  border: none;
  outline: none;
  border-bottom: .2em solid #6E5C3C;
  background: rgba(#98896D, .2);
  border-radius: .2em .2em 0 0;
  padding: .4em;
  color: #98896D;
  width: 200px;
  height: 20px;
}

select.input{
  appearance: none;
  border: none;
  outline: none;
  border-bottom: .2em solid #6E5C3C;
  background: rgba(#98896D, .2);
  border-radius: .2em .2em 0 0;
  padding: .4em;
  color: #98896D;
  width: 200px;
  height: 30px;
}

div.linea{
  margin-top: 5px;
}
