<body class="fondo">
<main>
  <img src="/images/Upsa.png" height="80" width="200">
  <img src="/images/profuturo.png" height="80" width="200" class="profuturo">
  <div class="seccion">
    <div>
    </div>
    <div class="formulario">
      <form class="seccion">
        <label>Nombre: </label>
        <input type="text" placeholder="Nombre" class="input">
        <br>
        <label>Apellidos: </label>
        <input type="text" placeholder="Apellidos" class="input">
      </form>
    </div>
  </div>
</main>
</body>
