main.principal{
    background-color: gray;
    opacity: 0.90;
    width: 70%;
    height: 70%;
    border-radius: 5%;
    padding: 50px;
    border: 3px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    margin-bottom: 50%;
  }
  
  img.profuturo{
    float: right
  }
  
  label.nombre{
    width: 30%;
    float: left;
  }
  
  input.txt{
    width: 30%;
    float: right;
  }
  
  div.registro{
    text-align: center;
  }
  
  input.casilla{
    size: 100px;
  }
  
  body.fondo{
    background-image:url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=pexels-pixabay-531880.jpg&fm=jpg");
    background-size: cover;
    background-repeat: no-repeat;
  
  }
  
  label.labels{
    margin-left: 10%;
  
  }
  
  button.sesion{
    border-radius: 15%;
    background-color: black;
    color: white;
  }
  
  
  